#mynetwork {
    width: 95vw;
    height: 95vh;
    border: solid 1px transparent;
    /* margin: 2.5vh 0; */
    background: var(--color-1);
    color: var(--color-1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
}