*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --color-1: #edeef0;
    --color-2: #bcd9d7;
    --color-3: #7ba9a9;
    --color-4: #3a595c;
    --color-5: #38534e;
    --color-6: #192e2f;
    --box-size: 100px;
    --mark-size: calc(var(--box-size)*.9);
    
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.board {
    width: calc(Var(--box-size)*4);
    height: calc(Var(--box-size)*4);
    display: grid;
    justify-content: center;
    align-content: center;
    border: 2px solid var(--color-6);
    grid-template-rows: repeat(3, auto);
}

.box {
    width: var(--box-size);
    height: var(--box-size);
    /* background-color: black; */
    border: 1px solid var(--color-6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.box:first-child, .box:nth-child(2), .box:nth-child(3) {
    border-top: none;
}

.box:first-child, .box:nth-child(4), .box:nth-child(7) {
    border-left: none;
}

.box:nth-child(7), .box:nth-child(8), .box:nth-child(9) {
    border-bottom: none;
}

.box:nth-child(3), .box:nth-child(6), .box:nth-child(9) {
    border-right: none;
}

.box.o, .box.x {
    cursor: not-allowed;
}

.box.x::before, .box.x::after, .box.o::before {
    background-color: var(--color-6);
}

.board.x .box:not(.x):not(.o):hover::before, .board.x .box:not(.x):not(.o):hover::after, .board.o .box:not(.x):not(.o):hover::before {
    background-color: var(--color-2);
}

.box.x::before, .box.x::after, .board.x .box:not(.x):not(.o):hover::before, .board.x .box:not(.x):not(.o):hover::after {
    content: '';
    width: calc(var(--mark-size)*.15);
    height: var(--mark-size);
    /* background-color: black; */
    position: absolute;
}

.box.x::before, .board.x .box:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.box.x::after, .board.x .box:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.board.o .box:not(.x):not(.o):hover::before, .board.o .box:not(.x):not(.o):hover::after, .box.o::before, .box.o::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.board.o .box:not(.x):not(.o):hover::before, .box.o::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.board.o .box:not(.x):not(.o):hover::after, .box.o::after {
    width: calc(var(--mark-size)*.7);
    height: calc(var(--mark-size)*.7);
    background-color: var(--color-1);
}